$school-red: #d12229;
$school-dark-red: #581021;
$school-green: #04463d;
$school-grey: #bcbbb6;

@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';

$theme-colors: (
  primary: $school-red,
  secondary: $school-dark-red,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800
);

$enable-shadows: true;

@import '../../node_modules/bootstrap/scss/bootstrap';

.btn {
  position: relative;
  z-index: 0;
  &:before {
    z-index: -1;
    content: '';
    display: block;
    position: absolute;
    top: -10%;
    left: 40%;
    background: inherit;
    transform: skew(-20deg);
    height: 120%;
    width: 120%;
    margin-left: -50%;;
  }
}

.display-3 {
  position: relative;
  z-index: 0;
  &:before {
    z-index: -1;
    content: '';
    display: block;
    position: absolute;
    top: -5%;
    left: 48%;
    background: transparent;
    transform: skew(-20deg);
    height: 110%;
    width: 104%;
    margin-left: -50%;
    border-left: 0.2rem solid;
    border-bottom: 0.2rem solid;
    border-image: linear-gradient(135deg, $school-red, $school-red 30%, transparent 60%, transparent) 1 1;
  }
}

.front-page {
  position: relative;
  height: calc(100vh - 12rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  p, h1 {
    text-align: center;
  }
  .sign-up {
    position: absolute;
    bottom: 8rem;
    left: 0;
    width: 100%
  }
}

// Small devices (landscape phones, 544px and up)
@include media-breakpoint-up(sm) {
	
}

// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {
	
}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
	
}

// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {
	
}
