@import './star';

$school-red: #d12229;
$school-dark-red: #581021;
$school-green: #04463d;
$school-grey: #bcbbb6;

$theme-white: #fff;
$theme-space-black: #212121;

@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';

$theme-colors: (
  primary: $school-red,
  secondary: lighten($school-red, 20%),
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $school-dark-red,
  light: $gray-100,
  dark: $gray-800
);

$enable-rounded: false;
$enable-shadows: true;

@import '../../node_modules/bootstrap/scss/bootstrap';

p {
  font-size: 1.2rem;
}

.btn {
  position: relative;
  z-index: 100;
  margin: 0 1rem !important;
  padding: 0.4rem 0.6rem;
  &:before {
    z-index: -1;
    content: '';
    display: block;
    position: absolute;
    top: -10%;
    left: 40%;
    background: inherit;
    transform: skew(-20deg);
    height: 120%;
    width: 120%;
    margin-left: -50%;;
  }
}

.display-3 {
  margin-top: 4rem;
	position: relative;
	z-index: 100;

	&:before {
		z-index: -1;
		content: '';
		display: block;
		position: absolute;
		top: -5%;
		left: 48%;
		background: transparent;
		transform: skew(-20deg);
		height: 110%;
		width: 104%;
		margin-left: -50%;
		border-left: 0.2rem solid;
		border-bottom: 0.2rem solid;
		border-image: linear-gradient(135deg, $school-red, $school-red 30%, transparent 60%, transparent) 1 1;
	}
}

.was-validated .form-control:invalid {
  border-color: $school-dark-red;
}

.was-validated .form-check-input.is-invalid ~ .invalid-feedback {
  display: block
}

.was-validated .form-control:valid ~ .invalid-feedback {
  display: none;
}

.invalid-feedback {
  color: $school-dark-red;
}

#signupModal {
  .modal-dialog {
    margin: 15% auto;
  }
  #signup-feedback {
    display: none;
  }
}

.front-page {
  padding-bottom: 18rem;
  position: relative;
  height: 94vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p, h1 {
    text-align: center;
  }
  .logo {
    width: 24rem;
  }
  .sign-up {
    position: absolute;
    bottom: 15%;
    left: 0;
    width: 100%;
    button {
      width: 16rem;
      height: 6rem;
      font-size: 2rem;;
    }
  }
  &.moving-up {
    animation: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0s forwards move-up;
  }
  &.moving-down {
    animation: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0s forwards move-down;
  }
  &.top {
    margin-top: -94vh;
  }
  & > * {
    z-index: 100;
  }
  #cta-background {
    z-index: 99;
    overflow: hidden;
  }
}

.divider {
  z-index: 101;
  height: 6%;
  width: 100%;
  position: fixed;
  top: unset;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $school-red;
  color: white;
  transition: background-color 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  cursor: pointer;
  .down-chevron {
    width: 3.5rem;
    height: 3.5rem;
    margin-left: 1rem;
    overflow: hidden;
    transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    svg path  {
      fill: #FFF;
    }
    &.reverse {
      transform: rotate(180deg);
    }
  }
  &:hover {
    background: darken($school-red, 10%);
  }
  &:active {
    background: lighten($school-red, 10%);
  }
  &.moving-up {
    height: 6%;
    animation: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0s forwards move-up;
  }
  &.moving-down {
    height: 6%;
    animation: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0s forwards move-down;
  }
  &.top {
    bottom: unset;
    top: 0;
  }
}

.info {
  margin-top: 6%;
  margin-bottom: -100%;
  &.moving-up {
    animation: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0s forwards move-up;
  }
  &.moving-down {
    animation: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 0s forwards move-down;
  }
  &.top {
    margin-bottom: -6%;
  }
  .club-file {
    img {
      width: 2rem;
      height: 2rem;
      margin: -0.3rem 0.5rem 0 -0.3rem;
    }
    text-align: center;
    padding: 0.5rem 0.75rem;
  }
  .leaders {
    .display-4 {
      height: 2.2em;
    }
    .card {
      white-space: nowrap;
      background: lighten($school-red, 40%);
    }
  }
}

.social-media {
  z-index: 101;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  right: 0;
  top: 0;
  margin-top: 6%;
  li {
    background: transparent;
    color: white;
    display: flex;
    background: $theme-space-black;
    img {
      height: 2rem;
      margin-right: 0.5rem;
    }
    a {
      color: $school-red;
      line-height: 2rem;
      align-self: stretch;
      text-align: center;
      &:hover {
        color: lighten($school-red, 20%);
      }
    }
  }
  &.top {
    li {
      color: black;
      background: white;
    }
  }
  right: -19rem;
  li:nth-child(1) {
    right: 3.5rem;
  }
  &.open {
    right: 0;
    li {
      right: 0;
    }
  }
}

@keyframes move-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-94vh);
  }
}
@keyframes move-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(94vh);
  }
}

.faq {
  .question {
    margin-top: 2rem;
  }
}
// .cta {
// 	position: relative;
// 	height: calc(100vh - 12rem);
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: center;
//
// 	p, h1 {
// 		text-align: center;
// 	}
//
// 	.sign-up {
// 		position: absolute;
// 		bottom: 8rem;
// 		left: 0;
// 		width: 100%
// 	}
// }

.cta {
	position: relative;

	background: $theme-space-black;
	color: $theme-white;

	#cta-background {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
    left: 0;
    
	}
}

// Small devices (landscape phones, 544px and up)
@media screen and (max-width: 544px) {
  .display-1 {
    font-size: 3.5rem;
  }
  .display-3 {
    font-size: 3rem;
    margin-left: 1rem;
    white-space: nowrap;
    &:before {
      max-width: 100%;
    }
  }
  .display-4 {
    font-size: 2.5rem;
    text-align: center;
  }
  .info .leaders .display-4 {
    height: 1.1em;
  }
  .social-media {
    margin-top: 20%;
  }
  .info {
    margin-top: 20%;
  }
}


// Medium devices (tablets, 768px and up)
@include media-breakpoint-up(md) {

}

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {

}

// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {

}
